.cache.mk
*.cmd
*.ko
*.mod.c
*.mod
wkspc/
XuanWuOS.cfg
modules.order
Module.symvers
XuanWuOS.symvers
xwos.symvers
*.o
*.o.d
.tmp_versions
xwbs/util/js/xwgitloglint/node_modules
xwbs/util/js/xwgitloglint/package-lock.json
GTAGS
GRTAGS
GPATH
